<p class="ml-2 px-4 whitespace-nowrap inline-flex border border-transparent rounded-md shadow-sm text-base font-medium text-white bg-green-400">
    <%= @filtered_workouts_count %> workouts found
</p>