<div class="m-2 px-8 py-6 rounded shadow bg-white w-1/2" id="columnchart_material3" style="height: 500px;">
</div>
<script type="text/javascript" src="https://www.gstatic.com/charts/loader.js"></script>
<%= javascript_tag do -%>
  google.charts.load('current', {'packages':['bar']});
  google.charts.setOnLoadCallback(drawChart);

  function drawChart() {
    var data = JSON.parse('<%= @one_rep_max_data.to_json.html_safe -%>');
    data = [['Day/Month', 'Squat', 'Bench', 'Deadlift']].concat(data);
    data = google.visualization.arrayToDataTable(data);
    var options = {
      chart: {
        title: '1RM/time',
        subtitle: 'By Lift'
      }
    };

    var chart = new google.charts.Bar(document.getElementById('columnchart_material3'));
    chart.draw(data, google.charts.Bar.convertOptions(options));
  }
<% end -%>