<table class="w-full leading-10">
    <thead class="text-left border-b">
    <tr class="pb-1">
        <th>Lift</th>
        <th>Weight</th>
        <th>Reps</th>
        <th>Volume</th>
        <th>Date</th>
        <th>&nbsp;</th>
    </tr>
    </thead>

    <tbody>
    <% @setts.each do |sett| %>
        <%= render 'sett', locals: { sett: sett } %>
    <% end %>
    </tbody>
</table>
