<h1>Editing Comment</h1>

<%= turbo_frame_tag dom_id(@comment) do %>
  <div class="container">
    <%= render 'form', comment: @comment %>
    <%= link_to 'Cancel', user_workout_comment_path(@user, @workout, @comment) %>
  </div>
<% end %>
