<div class="flex mx-auto mb-1 px-8 py-1">
  <%= render 'search_form' %>

  <div id="message" class="flex justify-start">
    <% unless @count.nil? %>
      <%= render 'message', count: @count %>
    <% end %>
  </div>

</div>


<div id="users">
  <%= render 'user', users: @users %>
</div>